.up {
	background-color: #55aa55;
}

.down {
	background-color: #aa5555;
}

.box {
	height: 100px;
	width: 100px;
	margin-left: 10px;
	margin-right: 10px;
	border: 2px solid black;
	border-radius: 50px;
	vertical-align: middle;
	line-height: 100px;
}

.head {
	width: 150px;
}

.service {
	display: flex;
	flex-direction: row;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#container {
	display: flex;
	flex-direction: column;
}

body {
	text-align: center;
	font-weight: bold;
	font-family: Arial,sanserif;
}
